MONGODB_USERNAME=house
MONGODB_PASSWORD=change-me
REDIS_PASSWORD=
WECHAT_APPID=
WECHAT_SECRET=
WECHAT_API_BASE=https://api.weixin.qq.com
AI_CHAT_PYTHON_BASE_URL=http://127.0.0.1:8000
AI_CHAT_INTERNAL_TOKEN=
AI_CHAT_RESPOND_TIMEOUT=25s
AI_CHAT_TOOL_TIMEOUT=5s
AI_CHAT_SESSION_IDLE_TIMEOUT=30m
AI_CHAT_RECENT_MESSAGE_LIMIT=20
AI_CHAT_RUNTIME_CONTEXT_TTL=24h
